In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.846817         1    4          0          -1              1
1  101.856097         0   58          1           0              0
2   98.135764         0   16          0          -1              1
3   98.680111         1   55          1           0              0
4  101.615057         0   38          1           0              0

In [4]:
df.tail()

          fever  bodyPain  age  runnyNose  diffBreath  infectionProb
294  100.726606         1   43          1          -1              0
295  100.267475         1   96          1           1              1
296  101.290956         0   79          0           0              0
297  100.423726         1    5          1           1              0
298   99.526413         0   40          1          -1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 6 columns):
fever            299 non-null float64
bodyPain         299 non-null int64
age              299 non-null int64
runnyNose        299 non-null int64
diffBreath       299 non-null int64
infectionProb    299 non-null int64
dtypes: float64(1), int64(5)
memory usage: 14.1 KB

In [6]:
import numpy as np

In [7]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [8]:
np.random.permutation(7)

array([3, 2, 1, 6, 4, 0, 5])

In [9]:
train, test = data_split(df, 0.2)

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 59 to 102
Data columns (total 6 columns):
fever            240 non-null float64
bodyPain         240 non-null int64
age              240 non-null int64
runnyNose        240 non-null int64
diffBreath       240 non-null int64
infectionProb    240 non-null int64
dtypes: float64(1), int64(5)
memory usage: 13.1 KB

In [11]:
test

          fever  bodyPain  age  runnyNose  diffBreath  infectionProb
281  101.831933         1   34          1           1              1
265   99.306940         0   68          1           0              0
164   99.491129         0   33          0          -1              1
9    100.302933         0   90          0           0              0
77    98.614198         0   18          0           1              1
278   99.261942         1   25          1          -1              0
93    98.513499         1   11          0          -1              1
109   98.035295         1   59          1          -1              0
5    100.434827         1   15          1           0              0
173   98.099744         1   70          1           1              0
97   100.972157         1   12          0           0              1
195   98.899385         0   63          0           1              1
184  100.780364         1   40          0          -1              1
154   98.355215         1   78          1           0              0
57   101.215326         1    5          0           1              0
60   100.703238         1   67          1           1              1
147  101.383690         0   85          1           0              1
108   98.667032         1   92          1          -1              1
63   100.484393         1   42          1           0              0
140  101.330369         1   98          1           1              0
155  101.541519         0  100          0          -1              1
104   99.074650         0   92          0          -1              0
247   99.013522         0   29          1           0              1
46   101.100037         1   99          0          -1              1
42    98.108280         1   39          0           0              0
275   99.025197         0   49          0           0              1
280  101.121721         1   46          0           1              0
116  101.492754         1   94          0           1              1
213   98.389421         1   22          1           1              0
236  100.492483         1   62          1           0              1
17    99.258041         1   27          1          -1              1
239   98.909234         1   34          1           1              0
33   100.601315         1   66          1           0              1
24    98.012578         1    4          1           1              1
45    98.920243         1   30          1          -1              0
7    101.370995         1   12          0           1              1
113   98.309790         1   12          1           0              0
194  100.568439         1   54          0           0              0
111  100.039290         1   70          0           0              0
92    98.926950         1   65          1           0              1
75    99.417799         0   23          1           0              1
82    99.577524         1  100          0           0              0
118  100.436605         1   39          1          -1              1
76   101.567091         1   98          1           1              1
129  101.437255         0   67          0          -1              1
197   98.900338         1   93          0           0              0
210  101.789332         1   71          1           1              0
288  100.617717         0   86          1          -1              0
219  100.507034         1   51          0          -1              0
178   99.077025         1   74          1           0              1
144   98.230853         0    2          1           0              0
186  100.282211         0   59          0           1              0
84    98.735506         1   14          1           0              1
248  100.869741         1   99          0           1              0
277  100.983392         1   82          1           1              1
73    99.860992         1   23          0          -1              0
244   99.634554         0   13          1           0              1
25    98.639645         0   31          1          -1              1
209  101.037985         0   38          1           1              0

In [12]:
x_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
x_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [13]:
y_train = train[['infectionProb']].to_numpy().reshape(240,)
y_test = test[['infectionProb']].to_numpy().reshape(59,)

In [14]:
y_train

array([0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0],
      dtype=int64)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
clf = LogisticRegression()
clf.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
inputFeatures = [100, 1, 22, 1, 1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [18]:
infProb

0.4268614028148933

In [19]:
pip install Flask

Requirement already satisfied: Flask in c:\programdata\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\programdata\anaconda3\lib\site-packages (from Flask) (1.1.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\programdata\anaconda3\lib\site-packages (from Flask) (2.10.1)
Requirement already satisfied: Werkzeug>=0.15 in c:\programdata\anaconda3\lib\site-packages (from Flask) (0.15.4)
Requirement already satisfied: click>=5.1 in c:\programdata\anaconda3\lib\site-packages (from Flask) (7.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [21]:
from flask import Flask
app = Flask(__name__)

@app.route('/')
def hello_world():
    return 'Hello, World!'


if __name__ == "__main__":
    app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with stat

SystemExit: 1